#Navbar {
    background-color: #333;
}

/* Hero section styling */
#hero {
    
    background-color: #555;
}

/* Work section styling */
#Work {
    text-align: center;
    background-color: #b9b4b4;
}

/* Certificate section styling */
#certificate {
    text-align: center;
    background-color: #333;
}
#aboutme {
    
    background-color: #333;
}
#service {
    background-color: #b9b4b4;
}
#footer { background-color: #b9b4b4;
    padding-top: 10%;

}